<div class="mb-2">
  <small class="error block" *ngIf="signInTried">
    Authentication's been unsuccessful! Redirecting to sign-up page...
  </small>
  <form [formGroup]="signInForm" (ngSubmit)="formSubmit(signInForm)" data-test-id="form-sign-in">
    <app-user-pass-group componentKey={{formKey}} componentEmail={{formEmail}} componentPass={{formPass}} />
    <button type="submit" class="btn btn-primary" id="login-submit">Submit</button>
  </form>
</div>
<p>Not registered?
  <span>
    Create an <a routerLink="/signup" style="text-decoration: none;">account</a> for one month free trial
  </span>
</p>
