<!doctype html>
<html lang="en" data-beasties-container>
<head>
  <meta charset="utf-8">
  <title>Pumi App</title>
  <base href="/static/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" href="favicon.png">
<style>html,body{margin:0;padding:0}*{outline:none}</style><link rel="stylesheet" href="styles-ALHZDT2L.css" media="print" onload="this.media='all'"><noscript><link rel="stylesheet" href="styles-ALHZDT2L.css"></noscript></head>
<body>
<app-root></app-root>
<link rel="modulepreload" href="chunk-3B5IQMS6.js"><script src="polyfills-FFHMD2TL.js" type="module"></script><script src="main-Q52Z4DEC.js" type="module"></script></body>
</html>
