<div class="mb-2">
  <small class="error block" *ngIf="signUpTried">
    Signup's been unsuccessful! Retry with different email and/or alias...
  </small>
  <form [formGroup]="signUpForm" (ngSubmit)="formSubmit(signUpForm)">
    <fieldset>
      <label for="signUpAlias">Choose an alias</label>
      <input formControlName="signUpAlias" name="signUpAlias" type="text" id="signUpAlias" placeholder="Enter alias">
    </fieldset>
    <app-user-pass-group componentKey={{formKey}} componentEmail={{formEmail}} componentPass={{formPass}} />
    <fieldset>
      <label for="signUpConfirmPass">Confirm password</label>
      <span class="input-placeholder">
      <input formControlName="signUpConfirmPass" name="signUpConfirmPass" id="signUpConfirmPass"
             style="float: left" [type]="hide ? 'password' : 'text'"
             placeholder="Confirm password" aria-describedby="signUpConfirmHelp" onpaste="return false;"
             onDrag="return false" onDrop="return false" autocomplete="off">
      <i [class]="hide ? 'bi bi-eye-slash' : 'bi bi-eye'" id="toggleConfirmPass"
         (click)="toggleConfirmPassInputView()"></i>
      </span>
      <small id="signUpConfirmPassHelp" class="form-text text-muted block mt-6">Re-type your password!</small>
      <small class="error block" *ngIf="signUpForm.controls.signUpConfirmPass.dirty &&
             signUpForm.controls.signUpConfirmPass.errors?.['required']">
        Password confirmation is required!
      </small>
      <small class="error block" *ngIf="signUpForm.dirty && isInvaliPassConfirmation()">
        Password confirmation does not match the former password!
      </small>
    </fieldset>
    <button type="submit" class="btn btn-primary" id="login-submit">Submit</button>
  </form>
</div>
<p>Already registered?
  <span>
    Go to <a routerLink="/signin" style="text-decoration: none;">sign in</a> page
  </span>
</p>
